body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}
.container {
  background-color: hsl(217, 19%, 24%);
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  color: hsl(150, 100%, 66%);
  font-size: 1.2em;
}
p {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 300px;
}
.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.dice img:hover {
  box-shadow: 0 0 10px 5px hsl(150, 100%, 66%);
}
.dice img {
  transition: box-shadow 0.3s ease-in-out;
  margin-block-start: 40px;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  padding: 20px;
}
.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    width: 70%;
  }
  p {
    width: 100%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .dice {
    -webkit-tap-highlight-color: transparent;
  }
  .dice img:hover {
    box-shadow: none;
  }
}
